  <tr class=<%= row_class(to_do_item) %>>
    <td>
      <% unless to_do_item.done? %>
        <%= button_to 'Done!', to_do_item, method: :put, class: 'btn btn-success' %>
      <% end %>
    </td>
    <td>
      <%= to_do_item.description %>
    </td>
    <td>
      <%= button_to 'Destroy', to_do_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </td>
  </tr>

