  <tr>
    <td>
      <%= to_do_item.description %>
    </td>
    <td>
      <%= to_do_item.done %>
    </td>
    <td>
      <%= link_to 'Destroy', to_do_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>

