<%- model_class = Project -%>
<div class="page-header">
  <h1>My Projects</h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, project_path(project), :class => 'btn btn-link btn-block' %></td>

        <td>
          <div class="btn-container">
            <%= button_to "Edit",
                      edit_project_path(project), :class => 'btn btn-warning btn-block'%>
          </div>
        </td>
        <td>
          <div class="btn-container">
            <%= button_to "Destroy",
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-block' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "New Project",
            new_project_path,
            method: :get,
            :class => 'btn btn-primary' %>
